<!DOCTYPE html>
<html lang="en" xmln:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Error</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'><link rel="stylesheet" th:href="@{css/error.css}">

</head>
<body>
<!-- partial:index.partial.html -->
<section class="page_404">
	<div class="container">
		<div class="row">	
		<div class="col-sm-12 ">
		<div class="col-sm-10 col-sm-offset-1  text-center">
		<div th:style="'background:url(' + @{images/err-bg.gif} + ');'" class="four_zero_four_bg">
			
			<h1 class="text-center ">404</h1>
	
		</div>
		
		<div class="contant_box_404">
		<h3 class="h2">
		Look like you're lost
		</h3>
		
		<p>the page you are looking for not avaible or you don't have permission to view this page </p>
		
		<a th:href="@{/}" class="link_404">Go to Home</a>
	</div>
		</div>
		</div>
		</div>
	</div>
</section>
  <script  th:src="@{js/error.js}"></script>

</body>
</html>
