<!DOCTYPE html>
<html lang="en" xmln:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Food Order</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{images/favicon.png}" rel="icon">
  <link th:href="@{images/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{vendor/aos/aos.css}" rel="stylesheet">
  <link th:href="@{vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
  <link th:href="@{vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{css/main2.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{css/food-details.css}" type="text/css">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a th:href="@{/}" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img th:src="@{images/logo.png" alt=""> -->
        <h1>Food Ordering<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">Foods</a></li>
          <li><a href="#menu">Menu</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#chefs">Restaurant</a></li>
          <!--
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <li><a href="#contact">Contact</a></li>
          <li><a th:href="@{login}">Login</a></li>
          <a th:href="@{registration}">Register</a>
        </ul>
     
      </nav><!-- .navbar -->

      <a class="btn-book-a-table bi bi-cart-fill" href="#book-a-table"> Cart</a>
      
     
      
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  
        <!-- Block content - Đục lỗ trên giao diện bố cục chung, đặt tên là `content` -->
        <div class="container mt-4">
            <div id="thongbao" class="alert alert-danger d-none face" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="card">
                <div class="container-fliud">
                    <form name="frmsanphamchitiet" id="frmsanphamchitiet" method="post"
                        action="/php/twig/frontend/giohang/themvaogiohang">
                        <input type="hidden" name="sp_ma" id="sp_ma" value="5">
                        <input type="hidden" name="sp_ten" id="sp_ten" value="Samsung Galaxy Tab 10.1 3G 16G">
                        <input type="hidden" name="sp_gia" id="sp_gia" value="10990000.00">
                        <input type="hidden" name="hinhdaidien" id="hinhdaidien" value="samsung-galaxy-tab-10.jpg">

                        <div class="wrapper row">
                            <div class="preview col-md-6">
                                <div class="preview-pic tab-content">
                                    
                                    <div class="tab-pane active" id="pic-3">
                                        <img th:src="@{images/menu/menu-item-2.png}">
                                    </div>
                                </div>
                               
                            </div>
                            <div class="details col-md-6">
                                <h3 class="product-title">Bánh cuốn chả ram</h3>
                                <div class="rating">
                                    <div class="stars">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <span class="review-no">666 reviews</span>
                                </div>
                                <p class="product-description">Nhiều nhân tôm thịt, rau ăn kèm</p>
                                <small class="text-muted">Giá cũ: <s><span>80.0000 VNĐ</span></s></small>
                                <h4 class="price">Giá hiện tại: <span>49.000 VNĐ</span></h4>
                                <p class="vote"><strong>100%</strong> tươi ngon <strong>đảm bảo </strong>vệ sinh
                                    <strong>an toàn
                                        thực phẩm !</strong></p>
                                
                                <div class="form-group">
                                    <label for="soluong">Số lượng đặt mua:</label>
                                    <input type="number" class="form-control" id="soluong" name="soluong">
                                </div>
                                 <div class="form-group">
                                    <label for="ghichu">Ghi chú: </label>
                                    <input type="text" class="form-control" id="ghichu" name="ghichu">
                                </div>
                                <div class="action">
                                    <a class="add-to-cart btn btn-default" id="btnThemVaoGioHang">Đặt hàng</a>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End block content -->
  
  
  
    <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div>
            <h4>Address</h4>
            <p>
              Đại học Mở Tp.Hồ Chí Minh <br>
              371 Nguyễn Kiệm, Phường 3, Quận Gò Vấp<br>
            </p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Reservations</h4>
            <p>
              <strong>Phone:</strong> 0967943112<br>
              <strong>Email:</strong> haianhinclude@gmail.com<br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Opening Hours</h4>
            <p>
              <strong>Mon-Sat: 11AM</strong> - 23PM<br>
              Sunday: Closed
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Follow Us</h4>
          <div class="social-links d-flex">
            <a href="https://www.facebook.com/haianhneee" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/haianhneee" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.facebook.com/haianhneee" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.facebook.com/haianhneee" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Food Ordering</span></strong>. All Rights Reserved
      </div>
      
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{vendor/aos/aos.js}"></script>
  <script th:src="@{vendor/glightbox/js/glightbox.min.js}"></script>
  <script th:src="@{vendor/purecounter/purecounter_vanilla.js}"></script>
  <script th:src="@{vendor/swiper/swiper-bundle.min.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{js/main2.js}"></script>